<table class="list">
  <tr>
    <th>Name</th>
    <th>Active</th>
    <th></th>
  </tr>

  <% RysFeatureRecord.registered.sort_by{|r| r.name.split('.') }.each do |feature| %>
    <tr>
      <td class="subject" style="color: <%= feature.active? ? 'green' : 'red' %>"><%= feature.name %></td>
      <td><%= checked_image(feature.active) %></td>
      <td>
        <% if feature.active? %>
          <%= link_to 'deactivate', update_rys_feature_path(feature, active: '0'), method: 'POST' %>
        <% else %>
          <%= link_to 'activate', update_rys_feature_path(feature, active: '1'), method: 'POST' %>
        <% end %>
      </td>
      <td></td>
    </tr>
  <% end %>
</table>
